
.content {
  padding-top: 15px !important;
}


.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.full-row {
  width: 100%;
}


@media (min-width: 600px) {
  .row {
    flex-direction: row;
    gap: 15px; 
  }
}


mat-form-field {
  width: 100%;
}


.action {
  padding: 10px 24px 25px !important;
  display: flex;
  gap: 12px; 
  justify-content: space-between;
}

.action button {
  flex: 1; 
  margin: 0 !important; 
  height: 45px; 
}


@media (max-width: 400px) {
  .action {
    flex-direction: column;
    gap: 10px;
  }
}