<div class="wrapper">
  <mat-card class="login-card">
    <h2 class="heading">Product Management</h2>
    <p class="sub">Create your account</p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <!-- Name -->
      <mat-form-field appearance="fill" class="full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name" />
        <mat-error *ngIf="registerForm.get('name')?.hasError('required') && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
          Name is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('name')?.hasError('minlength')">
          Minimum 3 characters required
        </mat-error>
        <mat-error *ngIf="registerForm.get('name')?.hasError('maxlength')">
          Maximum 30 characters allowed
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required') && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
          Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="full">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter password" />
        <button mat-icon-button matSuffix type="button" (click)="togglePassword()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('password')?.hasError('required') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          Password is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
          Minimum 6 characters required
        </mat-error>
      </mat-form-field>

      <!-- REGISTER BUTTON -->
      <button mat-raised-button color="primary" class="full" type="submit" [disabled]="loading">
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
        <span *ngIf="!loading">Register</span>
      </button>

      <!-- LOGIN LINK -->
      <div class="register-link">
        <p>Already have an account? <a routerLink="/login">Sign In</a></p>
      </div>
    </form>
  </mat-card>
</div>
