
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}


.login-card {
  width: 400px;
  max-width: 100%;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}


.heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #1976d2; 
}


.sub {
  text-align: center;
  margin-bottom: 25px;
  color: #666;
  font-size: 14px;
}

.full {
  width: 100%;
  margin-bottom: 15px;
}


button.full {
  width: 100%;
  height: 45px;
  font-size: 16px;
}


mat-spinner {
  vertical-align: middle;
  margin-right: 8px;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.register-link a {
  text-decoration: none;
  color: #1976d2; 
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}
