<mat-toolbar color="primary" class="app-toolbar">
  <span>Product Management Application</span>
  <span class="example-spacer"></span>

  <div class="header-button-row">
    <button mat-raised-button color="accent" *ngIf="auth.isAdmin()" routerLink="/admin">
      Vendor List
    </button>

    <button mat-raised-button *ngIf="auth.isLoggedIn()" (click)="openAddEditProductForm()">
      Add Product
    </button>

    <button mat-raised-button color="warn" *ngIf="auth.isLoggedIn()" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>

<div class="main-body">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Filter Products</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Electronics" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="action-buttons">
            <button mat-icon-button color="primary" (click)="openEditForm(element)" title="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProduct(element.id)" title="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
                   showFirstLastButtons 
                   aria-label="Select page of products">
    </mat-paginator>
  </div>
</div>